#question1-1 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/1.png);
    background-size: cover;
}

#question1-2 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/2.png);
    background-size: cover;
}

#question1-3 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/3.png);
    background-size: cover;
}

#question1-4 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/4.png);
    background-size: cover;
}

#question1-5 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/5.png);
    background-size: cover;
}

#question1-6 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/6.png);
    background-size: cover;
}

#question1-7 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/7.png);
    background-size: cover;
}

#question1-8 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/8.png);
    background-size: cover;
}

#question1-9 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/9.png);
    background-size: cover;
}

#question1-10 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/10.png);
    background-size: cover;
}

#question1-11 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/11.png);
    background-size: cover;
}

#question1-12 {
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url(img/questions/1/12.png);
    background-size: cover;
}